body {
    width: 100%;
}
.sideCol {
    background: #444444;
    padding: 28% 5%;
}

body .row .col .container .sideBar {
    height: 100%;
}

.mainCol {
    background: #777777;
    position: relative;
    overflow: auto;
}

.infoBox {
    font-size: 15px;
    background: white;
    border: 3px solid cadetblue;
    box-sizing: border-box;
    width: 30%;
    border-radius: 10px;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
    float: left;
    margin: 2%;
}

.userInputForm {
    position: absolute;
    margin: 0 auto;
    left: 10%;
    top: 5%;
}


.mainDisplay {
    position: absolute;
    margin: 0 auto;
    left: 10%;
    top: 12%;
}